.category-title {
    margin-top: 52px;
    font-size: 15px;
    margin-bottom: 20px;
}

.category-list {
    line-height: 1.7;
}

.category-item {
    display: inline-block;
    letter-spacing: -0.5px;
    background: var(--border-color);
    padding: 0 7px 0 0;
    margin: 2px 5px 7px 0px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}
.category-item:hover {
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    transition: 0.3s;
}
.category-item.selected {
    font-weight: bold;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
}

.category-item.selected:hover {
    font-weight: bold;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
}

.category-post-count {
    background: #fff;
    padding: 0px 5px;
    border-radius: 5px;
    margin-left: 5px;
    color: black;
}

@media all and (min-width: 768px) {
    .category-list {
        line-height: 1.9;
        display: inline-block;
        width: 20%;
        vertical-align: top;
        margin-right: 20px;
    }

    .category-item {
        background: none;
    }

    .category-item:hover {
        opacity: 0.5;
        transition: 0.3s;
        box-shadow: none;
    }

    .category-post-count {
        background: var(--border-color);
        margin-right: 10px;
    }
}

/* Mobile Device */
@media all and (max-width: 768px) {
    .category-list {
        padding-top: 50px;
    }
}