.category-post-list {
    margin-top: 40px;
    margin-bottom: 30px;
}

.category-name {
    font-size: 20px;
    margin-bottom: 10px;
}

.category-post-name {
    margin-bottom: 5px;
    letter-spacing: -0.5px;
    font-size: 16px;
}
.category-post-name:hover {
    transition: 0.3s;
    opacity: 0.5;
}
.category-post-name a {
    text-decoration: none;
    color: black;
}

.category-post-description {
    font-size: 14px;
    letter-spacing: -0.8px;
    color: rgb(146,148,150);
    line-height: 1.7;
    margin-bottom: 25px;
}

@media all and (min-width: 768px) {
    .category-post-list {
        vertical-align: top;
        display: inline-block;
        width: 75%;
        padding: 10px 0px 0px 15px;
    }
}
