@import "../../../stylesheets/variables";

.post-list-container {
    max-width: $app-max-width;
    margin: auto;
    padding-top: 25px;
    .post-list:first-child {
         margin-top: 15px;
    }
}