:root {
    --default-header: #ffffff;
    --default-color: #0D0D0D;
    --default-bg: #ffffff;
    --primary-color: #24292f;
    --post-author-bg: #F0F2F3;
    --post-info-category-bg: #82A8D9;
    --post-item-hover-color: #82A8D9;
    --post-item-description-color: #6a737d;
    --post-content-blockquote: #6a737d;
    --border-color: #ebe9e9;
}