@import "../../../stylesheets/variables";

header {
    text-align: center;
    background: var(--primary-color);
    height: 200px;
    z-index: 1;
    .header-inner {
        color: var(--default-header);
        margin: 0 auto;
        max-width: $app-max-width;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        ul {
            position: relative; 
	        top: 10px;
            justify-content: center;
            margin-top: 25px;
            font-size: 15px;
            font-weight: bold;
            li {
                display: inline;
                margin-bottom: 0;
                & + li {
                    margin-left: 16px;
                }
                a {
                    opacity: 0.4;
                    &:hover {
                        opacity: 1;
                        transition: 0.3s;
                    }
                    @media all and (min-width: 768px) {

                    }
                }
            }
        }
    }
    h1 {
        font-size: 35px;
        letter-spacing: -1px;
        margin-bottom: 5px;
        cursor: default;
    }
    .description {
        margin-left: 2px;
        font-size: 15px;
        letter-spacing: -0.5px;
        cursor: default;
        font-style: italic;
        font-family: georgia, serif;
        .emoticon{
            display: inline;
            font-style: normal;
            margin-left: 5px;
        }
    }
}

/* Mobile Device */
@media all and (max-width: 768px) {
    header:not(.simple) {
        padding: $app-mobile-padding;
    }
    header.simple {
        position: fixed;
        top: 0;
        width: 100%;
        height: $simple-header-height;
        background: var(--default-bg);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
        @media (prefers-color-scheme: dark) {
            background: var(--primary-color);
        }
        .header-inner {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
            ul {
                margin-top: 0;
            }
        }
        h1 {
            font-size: 25px;
            height: fit-content;
            margin: 0;
        }
        .description {
            display: none;
        }
    }
}