/* All Device */
.post-container {
    padding-top: 50px;
    margin: auto;
    .to-top {
        border: 0;
        position: fixed;
        width: 40px;
        height: 40px;
        bottom: 20px;
        right: calc(50% - 370px);
        border-radius: 50%;
        background: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 800;
        font-family: "Source Code Pro", monospace;
        @media all and (max-width: 760px) {
            right: 20px;
        }
    }
}

.post-title {
    letter-spacing: -0.8px;
    margin: 5px 0;
    line-height: 1.3;
    font-size: 27px;
}

.post-info-container {
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 14px;
}

.post-content {
    padding-bottom: 30px;
    letter-spacing: -0.5px;
    p {
        line-height: 30px;
        margin-bottom: 1rem;
        span{
            .gatsby-resp-image-wrapper{
                margin: 30px 0 35px 0;
                border-radius: 7px;
            }
        }
    }
    h2 {
        padding-bottom: .3em;
        border-bottom: 1px solid #eaecef;
        margin: 30px 0 15px 0;
        font-size: 25px;
    }
    h3 {
        margin: 35px 0 20px 0;
        font-size: 22px;
    }
    hr {
        height: .25em;
        padding: 0;
        margin: 30px 0;
        background-color: #e1e4e8;
        border: 0;
    }
    h5{
        font-size: 16px;
        margin: 18px 0 18px 0;
    }
    a {
        text-decoration: none;
        color: #0080ff;
        &:hover {
            text-decoration: underline;
        }
    }
    blockquote {
        margin: 20px 0;
        p {
            color: var(--post-content-blockquote);
            border-left: 4px solid var(--post-content-blockquote);
            padding-left: 20px;
            line-height: 1.6;
            text-align: initial;
            font-size: 16px;
        }
    }
    code[class*="language-"],
    pre[class*="language-"] {
        font-family: 'Source Code Pro', monospace;
        font-size: inherit;
        color: var(--default-color);
        letter-spacing: -0.5px;
        padding: 3px;
    }
    pre[class*="language-"] {
        background: rgba(166, 168, 170, .07);
        padding: 10px 20px;
        margin-bottom: 15px;
        font-size: 14px;
        code[class*="language-text"] {
            color: inherit;
        }
    }
    code[class*="language-text"] {
        background: #f1f3f4;
        color: #cc3551;
        direction: ltr!important;
        padding: 1px 4px;
        text-align: left!important;
    }
    ol {
        margin: 20px 0 20px 25px;
    }
    ul {
        margin: 20px 0 20px 20px;
    }
    li {
        margin-bottom: 5px;
    }
    .gatsby-resp-image-wrapper{
        margin: 30px 0 35px 0;

        border-radius: 7px;
    }
    .katex-html{
        margin: 24px auto 24px auto;
    }
    center{
        .gatsby-resp-image-wrapper{
            margin-bottom: 16px;
        }
    }
}

info {
    margin-bottom: 30px;
    display: block;
    padding: 20px;
    border: 1px dashed #6A60A9;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,.15);
    text-align: center;
    font-size: 16px;
}

/* Mobile Device */
@media all and (max-width: 768px) {

}

/* Tablet, Desktop Device */
@media all and (min-width: 768px) {
    .post-content blockquote {
        margin: 20px 0;
    }
    .post-content blockquote p {
        font-size: 16px;
    }
    .post-content ol {
        margin: 20px 0 20px 25px;
    }
    .post-content li {
        margin-bottom: 10px;
    }
}
