.post-info {
    font-family: 'Montserrat', sans-serif;
    .date {
        font-size: 13px;
    }
    .category {
        margin-right: 10px;
        font-size: 11px;
        background: var(--post-info-category-bg);
        padding: 1px 7px;
        font-weight: bold;
        border-radius: 8px;
        text-transform: uppercase;
    }
}

.other-post-type {
    font-size: 14px;
    border-left: 3px solid black;
    padding-left: 10px;
    font-weight: 300;
    letter-spacing: -0.3px;
}
